body{
    font-family: 'Quicksand';
    background-color: rgb(242, 242, 220);
    nav{
        background-color: none;
    }
    .form{
        background-color: black;
        color: aliceblue;
        margin: auto;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 60px;
        width: 15%;
        height: 5%;
        margin-top: 25px;
        border-radius: 20px;
        font-size: 20px;
        text-align: center;
        padding-top: 30px;
    }
    .sobre{
        font-size: 70px;
        font-weight: bold;
    }
    img{
        border-radius: 20px;
    }
}
