body{
    font-family: 'Quicksand';
    background-color: rgb(242, 242, 220);
    nav{
        background-color: none;
    }
    .sobre{
        font-size: 70px;
        font-weight: bold;
    }
    img{
        border-radius: 20px;
    }
}